apiVersion: apps/v1
kind: Deployment
metadata:
  name: data-entry-deployment
  labels:
    app: data-entry
spec:
  replicas: 1
  selector:
    matchLabels:
      app: data-entry
  template:
    metadata:
      labels:
        app: data-entry
    spec:
      terminationGracePeriodSeconds: 60
      containers:
      - name: data-entry
        image: erinlab/data_entry:v2
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        resources:
          requests:
            cpu: 100m
          limits:
            cpu: 500m
        env:
        - name: FLASK_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: FLASK_SECRET_KEY
        - name: MYSQL_HOST
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: MYSQL_HOST
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: MYSQL_USER
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: MYSQL_ROOT_PASSWORD
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: MYSQL_PASSWORD
        - name: MYSQL_DATABASE
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: MYSQL_DATABASE
